:root {
  --accent-color-dark: #045d56;
  --button-color-dark: #045d56;
  --text-accent-color-dark: #1eb980;
  --table-border-dark: #1b1b1b;
  --tr-color-dark: #1b1b1b;
  --tr-nth-color-dark: #121212;
  --table-highlight-dark: #616161;
  --dark-background-color: #121212;
  --dark-text-color: #eeeeee;
}
html{ height: 100% }

body{
  --accent-color:#303f9f;
  --button-color: #303f9f;
  --text-accent-color:#303f9f;
  --table-border: #e0e0e0;
  --table-highlight: #c5cae9;;
  --tr-nth-color: #f2f2f2;
  --tr-color: #ffffff;
  
  --background-color: #ffffff;
  --text-color: #000000;
  font-family: "Noto Sans", "Liberation Sans","Trebuchet MS", Arial, Helvetica, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 1.1rem;
  margin: 0;
  height: 100%;
  display: grid;
  grid-template-areas:
    'header'
    'menu'
    'main'
    'footer';
  grid-template-rows: auto auto 1fr auto;
}
body.theme-dark {
  --background-color: var(--dark-background-color);
  --text-color: var(--dark-text-color);
  --tr-nth-color: var(--tr-nth-color-dark);
  --table-border: var(--table-border-dark);
  --table-highlight: var(--table-highlight-dark);
  --accent-color: var(--accent-color-dark);
  --text-accent-color: var(--text-accent-color-dark);
  --tr-color: var(--tr-color-dark);
  --button-color: var(--button-color-dark);
}
header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 10%;
  background-color: var(--accent-color);
  color: white;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}


.header-brand{
  font-weight: 700;
  font-size: 1.4rem;
}
header div{
  display: inline-block;
  align-items: center;
  text-align: center;
}
  header .spacer{
  margin-left: auto;
  align-items: center;
}
footer {
  grid-area: footer;
  border-radius: 0.4rem;
  outline-style: solid;
  outline-width: thin;
  outline-color: var(--table-border);

  margin: auto;
}

footer p{
  margin: 0.5rem;
  line-height: 1.5;

}
.tab-container{
  grid-area: main;
}
table {
  border-collapse: collapse;
  line-height: 1.1rem;
  font-weight: 410;
  margin: 0.8rem;
  border-radius: 0.4rem;
  outline-style: solid;
  outline-width: thin;
  outline-color: var(--table-border);
}

td, th {
  padding: 0.8rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}
tr {
  transition: 0.1s;
  background-color: var(--tr-color);
}
tr:nth-child(even){background-color: var(--tr-nth-color);}

tr:hover {
  background-color: var(--table-highlight) !important;
}
tr:visited {
  background-color:var(--table-highlight);    
}
td:first-child{
  padding-left: 2rem;
}
td:last-child{
  padding-right: 2rem;
}
th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

h4 {
  font-size: 20px;
  margin-bottom: auto;
  margin-top: auto;
  margin-left: 1rem;
  font-weight: 600;
}
.shadow-strong {
  box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
              0 2px 2px rgba(0,0,0,0.11), 
              0 4px 4px rgba(0,0,0,0.11), 
              0 8px 8px rgba(0,0,0,0.11), 
              0 16px 16px rgba(0,0,0,0.11), 
              0 32px 32px rgba(0,0,0,0.11);
}

.shadow-0{box-shadow:0px 0px 0px 0px rgba(0, 0, 0, 0.2),0px 0px 0px 0px rgba(0, 0, 0, 0.14),0px 0px 0px 0px rgba(0,0,0,.12)}.shadow-1{box-shadow:0px 2px 1px -1px rgba(0, 0, 0, 0.2),0px 1px 1px 0px rgba(0, 0, 0, 0.14),0px 1px 3px 0px rgba(0,0,0,.12)}.shadow-2{box-shadow:0px 3px 1px -2px rgba(0, 0, 0, 0.2),0px 2px 2px 0px rgba(0, 0, 0, 0.14),0px 1px 5px 0px rgba(0,0,0,.12)}.shadow-3{box-shadow:0px 3px 3px -2px rgba(0, 0, 0, 0.2),0px 3px 4px 0px rgba(0, 0, 0, 0.14),0px 1px 8px 0px rgba(0,0,0,.12)}.shadow-4{box-shadow:0px 2px 4px -1px rgba(0, 0, 0, 0.2),0px 4px 5px 0px rgba(0, 0, 0, 0.14),0px 1px 10px 0px rgba(0,0,0,.12)}.shadow-5{box-shadow:0px 3px 5px -1px rgba(0, 0, 0, 0.2),0px 5px 8px 0px rgba(0, 0, 0, 0.14),0px 1px 14px 0px rgba(0,0,0,.12)}.shadow-6{box-shadow:0px 3px 5px -1px rgba(0, 0, 0, 0.2),0px 6px 10px 0px rgba(0, 0, 0, 0.14),0px 1px 18px 0px rgba(0,0,0,.12)}.shadow-7{box-shadow:0px 4px 5px -2px rgba(0, 0, 0, 0.2),0px 7px 10px 1px rgba(0, 0, 0, 0.14),0px 2px 16px 1px rgba(0,0,0,.12)}.shadow-8{box-shadow:0px 5px 5px -3px rgba(0, 0, 0, 0.2),0px 8px 10px 1px rgba(0, 0, 0, 0.14),0px 3px 14px 2px rgba(0,0,0,.12)}.shadow-9{box-shadow:0px 5px 6px -3px rgba(0, 0, 0, 0.2),0px 9px 12px 1px rgba(0, 0, 0, 0.14),0px 3px 16px 2px rgba(0,0,0,.12)}.shadow-10{box-shadow:0px 6px 6px -3px rgba(0, 0, 0, 0.2),0px 10px 14px 1px rgba(0, 0, 0, 0.14),0px 4px 18px 3px rgba(0,0,0,.12)}.shadow-11{box-shadow:0px 6px 7px -4px rgba(0, 0, 0, 0.2),0px 11px 15px 1px rgba(0, 0, 0, 0.14),0px 4px 20px 3px rgba(0,0,0,.12)}.shadow-12{box-shadow:0px 7px 8px -4px rgba(0, 0, 0, 0.2),0px 12px 17px 2px rgba(0, 0, 0, 0.14),0px 5px 22px 4px rgba(0,0,0,.12)}.shadow-13{box-shadow:0px 7px 8px -4px rgba(0, 0, 0, 0.2),0px 13px 19px 2px rgba(0, 0, 0, 0.14),0px 5px 24px 4px rgba(0,0,0,.12)}.shadow-14{box-shadow:0px 7px 9px -4px rgba(0, 0, 0, 0.2),0px 14px 21px 2px rgba(0, 0, 0, 0.14),0px 5px 26px 4px rgba(0,0,0,.12)}.shadow-15{box-shadow:0px 8px 9px -5px rgba(0, 0, 0, 0.2),0px 15px 22px 2px rgba(0, 0, 0, 0.14),0px 6px 28px 5px rgba(0,0,0,.12)}.shadow-16{box-shadow:0px 8px 10px -5px rgba(0, 0, 0, 0.2),0px 16px 24px 2px rgba(0, 0, 0, 0.14),0px 6px 30px 5px rgba(0,0,0,.12)}.shadow-17{box-shadow:0px 8px 11px -5px rgba(0, 0, 0, 0.2),0px 17px 26px 2px rgba(0, 0, 0, 0.14),0px 6px 32px 5px rgba(0,0,0,.12)}.shadow-18{box-shadow:0px 9px 11px -5px rgba(0, 0, 0, 0.2),0px 18px 28px 2px rgba(0, 0, 0, 0.14),0px 7px 34px 6px rgba(0,0,0,.12)}.shadow-19{box-shadow:0px 9px 12px -6px rgba(0, 0, 0, 0.2),0px 19px 29px 2px rgba(0, 0, 0, 0.14),0px 7px 36px 6px rgba(0,0,0,.12)}.shadow-20{box-shadow:0px 10px 13px -6px rgba(0, 0, 0, 0.2),0px 20px 31px 3px rgba(0, 0, 0, 0.14),0px 8px 38px 7px rgba(0,0,0,.12)}.shadow-21{box-shadow:0px 10px 13px -6px rgba(0, 0, 0, 0.2),0px 21px 33px 3px rgba(0, 0, 0, 0.14),0px 8px 40px 7px rgba(0,0,0,.12)}.shadow-22{box-shadow:0px 10px 14px -6px rgba(0, 0, 0, 0.2),0px 22px 35px 3px rgba(0, 0, 0, 0.14),0px 8px 42px 7px rgba(0,0,0,.12)}.shadow-23{box-shadow:0px 11px 14px -7px rgba(0, 0, 0, 0.2),0px 23px 36px 3px rgba(0, 0, 0, 0.14),0px 9px 44px 8px rgba(0,0,0,.12)}.shadow-24{box-shadow:0px 11px 15px -7px rgba(0, 0, 0, 0.2),0px 24px 38px 3px rgba(0, 0, 0, 0.14),0px 9px 46px 8px rgba(0,0,0,.12)}


.all-result{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  gap: 1rem;
  /* Your container needs a fixed height, and it 
   * needs to be taller than your tallest column. */
  height: 200rem; 
}
.all-result::before,
.all-result::after {
  content: "";
  flex-basis: 100%;
  width: 0;
  order: 2;
}
.all-result-div{
  margin-bottom: 2%; /* Optional */
}
.all-result-div:nth-child(3n+1) { order: 1; }
.all-result-div:nth-child(3n+2) { order: 2; }
.all-result-div:nth-child(3n)   { order: 3; }

.all-result-div h4{
  margin-left: auto;
  font-size: 1.4rem;
}
@media only screen and (max-width: 1500px){
  .all-result{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
    gap: 1rem;
    align-content: center;
  }
  .all-result-div{
    width: max-content;
    max-width: max-content;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    
  }
  body{
    font-size: 1rem;
  }
}
@media only screen and (max-width:1920px){
  .all-result{
    display: flex;
    flex-flow: column wrap;
    /* Your container needs a fixed height, and it 
    * needs to be taller than your tallest column. */
    height: 700rem; 
  }
  .all-result::before,
  .all-result::after {
    content: "";
    flex-basis: 100%;
    width: 0;
    order: 2;
  }
  .all-result-div{
    margin-bottom: 2%; /* Optional */
  }
  .all-result-div:nth-child(2n+1) { order: 1; }
  .all-result-div:nth-child(2n) { order: 2; }
}
.theme-select {
  margin-left: 2rem;
}
@media only screen and (max-width:1200px){
  .all-result{
    flex-direction: column;
    width: fit-content;
    align-content: unset;
    height: max-content;
    margin: auto;
  }
  .all-result-div{
    max-width: 100%;
  }
  .all-result-div:nth-child(n) { order: 1; }
  .theme-select {
    margin-left: unset;
  }
  .splits-table{
    margin-left: 0;
    margin-right: 0;
  }
}
  .hiddendiv {
  display:none;
}
.status-div{
  color: #ffffffa2;
}

.result-div{
  width: max-content;
  margin: auto;
  overflow-x:auto;
  max-width: 100vw;
}
.table-labels{
  font-weight: 900;
  font-size: 1.2rem;
}
.splits-labels{
  font-weight: bolder;
}
.splits-table{
  display: none;
  max-width: 100vw;
}
.splits-table td:first-child{
  position: sticky;
  left: 0;
  background-color: var(--tr-color);
}
.splits-table tr:nth-child(even) td:first-child{
  background-color: var(--tr-nth-color);
}
.result-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25vw;
  min-width: 600px;
  margin: auto;
}
a{
  color: var(--text-accent-color);
  border-bottom: 1px solid var(--text-accent-color);
  border-bottom-style: inset;
  text-decoration: none;
  padding: 0 1px 0;
  margin: 0 -1px 0;
}
a:hover{
  border-bottom-width: 3px;
  margin-bottom: -2px;
}
select{
  cursor: pointer;
}
.fancy-button {
  cursor: pointer;
  background-color: transparent;
  color: var(--text-accent-color);
  text-align: center;
  display: inline-block;
  border: thin solid #3c4043;
  font-weight: 700;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  margin: 0.4rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  
}


@media (hover: hover) {
.fancy-button:hover {
  color: white;
  background-color: var(--button-color);
  border: thin solid var(--button-color);
  font-weight: 700;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  transition: all 0.4s ease 0s;
}
}

.fancy-button:active{
   background-color: var(--accent-color);
   color: var(--dark-text-color);
   transition: 0.1s ease-out;

}
.fancy-button:focus{
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  outline: none;
  box-shadow: 0 0 2px 2px var(--button-color), 0 .5rem 1rem rgba(0,0,0,.15);
}
.tab-list{
  grid-area: menu;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}
.tab{
  margin: 0.2rem;
}
.tab-button{
  all: revert;
  display: block;
  padding: 0.5rem 1rem;
  border-radius: .25rem;
  text-decoration: none;
  font-weight: 600;
  transition: 0.15s;
  color: var(--text-accent-color);
}
.tab-button.active{
  color: #fff;
  background-color: var(--button-color); 

}
.tab-button:focus {
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  outline: none;
  box-shadow: 0 0 2px 2px var(--text-accent-color), 0 .5rem 1rem rgba(0,0,0,.15) !important;
}
.tab-button:hover {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}
.tab-content{
 display: none; 
}
.tab-content.active{
  display: block;
}

@media only screen and (max-width: 600px) {
  header {
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    max-height: 7rem;
  }
  header select{
    margin-left: auto;
  }
  .header-column{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    width: fit-content;
    justify-items: left;
    max-width: 50vw;
  }
  .status-div{
    margin-left: auto;
  }
  .header-brand {
    align-self: flex-start;
    width: 100%;
  }
  footer{
    width: 100%;
  }
  .tab-list{
    padding: 0;
    justify-content: center;
  }
  .tab-button{
    padding: 0.5rem;
    border: thin solid var(--button-color);
  }
  .ResultTable{
    width: 100%;
    margin: 0px;
    margin-bottom: 0.1rem;
    margin-top: 0.1rem;
    border-radius: .4rem;
  }
  .result-div{
    width: 100%;
    margin: 0px;
    overflow-x: auto;
  }
  .result-div h4{
    margin: 0px;
    width: 100%;
  }
  .club-collum{
    display: none;
  }
  td:first-child{
    padding-left: 0.6rem;
  }
  td:last-child{
    padding-right: 0.3rem;
  }
  .result-header{
    width: 100%;
    min-width: 0;
  }
  .all-result{
    width: 100%;
  }
  .all-result-div {
    width: 100%;
  }
}
@media (prefers-color-scheme: dark) {
    body.theme-auto {
        --background-color: var(--dark-background-color);
        --text-color: var(--dark-text-color);
        --tr-nth-color: var(--tr-nth-color-dark);
        --table-border: var(--table-border-dark);
        --table-highlight: var(--table-highlight-dark);
        --accent-color: var(--accent-color-dark);
        --text-accent-color: var(--text-accent-color-dark);
        --tr-color: var(--tr-color-dark);
        --button-color: var(--button-color-dark);
    }
}
.alert-div{
  color: #664d03;
  background-color: #fff3cd;
  border-color: #ffecb5;
  position: relative;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-radius: .25rem;
}
